
          h1 {
              color: #ABCDEF;
         }
            h2 {
                border-style: dashed;
                border-color: #ffc400
            }
        .menu {
            border-style: dashed;
            border-color:#ffc400;
        }
        .header {
            display:flex;
            justify-content: space-between
        }
        .grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly
        }
        .footer {
            background-color: #A30000;
            display: flex;
            justify-content: flex-end
        }